:root {
  --col_Main: #fca311;
  --col_Main-Light: #f5b145;
  --col_Main-Opacity: rgba(252, 163, 17, 0.5);
  --col_Second: #333533;
  --col_Second-Opacity: rgba(51, 53, 51, 0.5);
  --col_Third: #f3f3f3;
}

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: var(--col_Second);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* Avoid content scroll when mobile menu is active */
/* HTML {overflow:hidden} is part of the fix */
/* body {
  overflow: visible;
  height: 100%;
} */

/* ==================================================
>>>>> (A) - GLOBAL STYLES
================================================== */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

p,
a {
  font-size: 1.4rem;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  width: 100%;
}

/* ==================================================
>>>>> (B) - UTILITIES
================================================== */

/* CONTAINER */
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .container {
    width: 70%;
  }
}

/* BUTTON */
.btn {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--col_Main);
  flex: 0 0 100%;
  text-align: center;
  margin-top: 2rem;
}

.btn:hover {
  background-color: var(--col_Main-Light);
  transition: ease-in-out 0.2s;
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
  }
}

/* FORM */

.form {
  margin: 0;
}

.form label {
  position: absolute;
  font-size: 1.8rem;
  color: var(--col_Second-Opacity);
  left: 1rem;
  transition: all ease-in-out 0.3s;
  cursor: text;
}

.form input:not([type="submit"]),
.form textarea {
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
  padding: 2rem 1rem;
  border: 0;
  position: relative;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  cursor: text;
}

.form input::placeholder,
.form textarea::placeholder {
  color: transparent;
}

.form_data {
  position: relative;
  margin-bottom: 2rem;
}

.form_data textarea {
  resize: none;
  height: 15rem;
}

.form_data label {
  position: absolute;
  top: 12px;
}

.form_data:focus-within label,
.form_data input:not(:placeholder-shown) ~ label,
.form_data textarea:not(:placeholder-shown) ~ label {
  top: 2px;
  font-size: 1rem;
}

/* INLINE STYLE CLASSES */
.col-main {
  color: var(--col_Main);
}

.u-case {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/* ==================================================
>>>>> (01) - SITE NAV
================================================== */

.site_nav {
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.site_nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.site_logo {
  display: inline-block;
  width: 8rem;
}

/* ==================================================
>>>>> (01-A) - MOBILE MENU
================================================== */

.mobile_menu-icon {
  font-size: 1.5rem;
  color: var(--col_Second);
  cursor: pointer;
  height: 5rem;
  width: 3rem;
  line-height: 5rem;
  text-align: right;
}

.nav_bar {
  display: block;
  width: 28rem;
  height: 100vh;
  text-align: left;
  position: absolute;
  top: 5rem;
  right: -110%;
  background-color: white;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
}

#toggle_mob-menu,
#toggle_mob-SubMenu1,
#toggle_mob-SubMenu2 {
  display: none;
}

#toggle_mob-menu:checked ~ .nav_bar {
  right: 0;
}

.overflow_wrapper {
  height: 100%;
  margin-bottom: 5rem;
}

.menu_list {
  display: block;
  margin: 5rem 0;
}

.menu_list,
.subMenu_list {
  padding-left: 0;
  list-style: none;
}

.menu_list li,
.subMenu_list li {
  color: var(--col_Second);
  width: 100%;
}

.menu_list li a,
.menu_list label,
.subMenu_list li a {
  display: block;
  color: var(--col_Second);
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  cursor: pointer;
}

.contact_btn {
  display: block;
  width: 80px;
  margin: 0 auto;
  font-size: 1.1rem;
  background: transparent;
  color: var(--col_Second);
  border: 2px solid var(--col_Second);
  padding: 0.8rem 0;
  cursor: pointer;
}

.contact_btn:hover {
  background: transparent;
  cursor: pointer;
}

.subMenu_list.SubMenu1,
.subMenu_list.SubMenu2 {
  display: block;
  width: 100%;
  height: calc(100vh + 5rem);
  padding: 5rem 0;
  background: white;
  position: absolute;
  top: 0;
  left: -100%;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
}

#toggle_mob-SubMenu1:checked ~ .subMenu_list.SubMenu1 {
  left: 0;
}

#toggle_mob-SubMenu2:checked ~ .subMenu_list.SubMenu2 {
  left: 0;
}

.SMenu1_wrapper,
.SMenu2_wrapper {
  position: relative;
}

.SMenu1_wrapper label[for="toggle_back1"],
.SMenu2_wrapper label[for="toggle_back2"] {
  position: absolute;
  top: -40px;
  right: 20px;
  width: 25px;
  height: 25px;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.2rem;
}

/* ==================================================
>>>>> (01-B) - DESKTOP MENU
================================================== */

/* MOBILE STYLES RESET */

@media (min-width: 768px) {
  .mobile_menu-icon,
  .SMenu1_wrapper label[for="toggle_back1"],
  .SMenu2_wrapper label[for="toggle_back2"] {
    display: none;
  }

  .nav_bar,
  .overflow_wrapper,
  .menu_list,
  .subMenu_list,
  .SubMenu1,
  .SubMenu2,
  .subMenu_list.SubMenu1,
  .subMenu_list.SubMenu2,
  .SMenu1_wrapper,
  .SMenu2_wrapper {
    all: unset;
  }
}

/* DESKTOP STYLES */

@media (min-width: 768px) {
  .nav_bar {
    background-color: white;
  }

  .nav_bar .overflow_wrapper {
    display: flex;
  }

  .menu_list {
    display: flex;
  }

  .menu_list,
  .subMenu_list ul {
    padding-left: 0;
    list-style: none;
  }

  .menu_list li,
  .subMenu_list li {
    display: block;
    padding: 0;
    margin: 0 1rem;
  }

  .menu_list li a,
  .menu_list label,
  .subMenu_list li a {
    display: block;
    height: 5rem;
    padding: 0 1rem;
    line-height: 5rem;
  }

  .subMenu_list.SubMenu1,
  .subMenu_list.SubMenu2 {
    display: block;
    position: relative;
    top: -5rem;
    line-height: 5rem;
    height: 100%;
    padding: 0;
    /* box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
    background-color: yellowgreen; */
  }

  .SMenu1_wrapper,
  .SMenu2_wrapper {
    position: absolute;
    padding: 2rem 4rem 2rem 0;
    background-color: white;
    z-index: -1;
  }

  .SMenu1_wrapper {
    top: -500%;
  }

  .SMenu2_wrapper {
    top: -400%;
  }

  .show-sm1:hover > ul .SMenu1_wrapper,
  .show-sm2:hover > ul .SMenu2_wrapper {
    top: 100%;
    transition: ease-in-out 0.3s;
  }

  .contact_btn {
    height: 1.2rem;
    font-size: 1rem;
    margin: auto 0;
  }
}

/* ==================================================
>>>>> (02) - SITE HEADER
================================================== */

.site_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(47, 0, 255, 0.7),
      rgba(51, 255, 0, 0.4),
      rgba(225, 0, 255, 0.3)
    ),
    url(../img/header.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  top: 5rem;
  z-index: -1;
}

.header_content {
  position: relative;
}

.header_content:after {
  content: "welcome";
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 14%;
  left: 1%;
}

@media (min-width: 768px) {
  .header_content:after {
    content: "welcome";
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 15%;
    left: 0;
    writing-mode: sideways-lr;
  }
}

.header_content-wrapper {
  --stroke: 1.5rem;
  display: block;
  max-width: 50rem;
  color: white;
  border-right: 15px solid rgba(252, 163, 17, 0.5);
  padding: 6rem 4rem 4rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .header_content-wrapper {
    padding: 4rem 4rem 4rem 0;
  }
}

.header_content-wrapper:before,
.header_content-wrapper:after {
  content: "";
  width: calc(100% + 15px);
  height: 100vh;
  background: transparent;
  position: absolute;
  left: 0;
  border-width: 15px;
  border-color: rgba(252, 163, 17, 0.5);
}

.header_content-wrapper:before {
  border-style: none none solid solid;
  top: -100vh;
}

.header_content-wrapper:after {
  border-style: solid none none solid;
  bottom: -100vh;
}

.header_title {
  line-height: 1;
  margin: 0;
  font-size: clamp(4rem, 3.5vw, 6rem);
}

@media (min-width: 768px) {
  .header_title {
    margin: 0 0 0 2.5rem;
  }
}

.header_title span {
  color: var(--col_Main);
  font-size: clamp(7rem, 6vw, 10rem);
}
.header_slogan {
  font-size: 1.4rem;
  line-height: 2;
  margin: 0;
  max-width: 45rem;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

/* ==================================================
>>>>> (03) - SITE MAIN SECTION
================================================== */

.site_main {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/S1_background-min.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 4rem 0 0 0;
}

@media (min-width: 768px) {
  .site_main:after {
    content: "";
    display: block;
    width: 25vw;
    height: clamp(20vw, 55%, 30vw);
    background: url(../img/S1_secondary-img.jpg) no-repeat top right;
    background-size: cover;
    filter: opacity(80%);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.corporate_statement {
  display: flex;
  justify-content: space-between;
}

.corporate_statement-image {
  display: none;
}

@media (min-width: 768px) {
  .corporate_statement-image {
    display: flex;
    flex: 0 0 25%;
    height: 100%;
    width: 100%;
    border: 5px solid white;
    margin-left: 4rem;
    position: relative;
    z-index: 1;
  }
}

.corporate_values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(231, 227, 227, 0.6);
  box-shadow: 5rem 0 0 rgba(231, 227, 227, 0.6),
    -5rem 0 0 rgba(231, 227, 227, 0.6);
  padding: 4rem 1rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .corporate_values {
    justify-content: space-between;
    background-color: unset;
    box-shadow: unset;
    padding: 4rem 1rem;
    flex-wrap: nowrap;
  }
}

.value_card {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.value_icon {
  font-size: 3rem;
  margin: 2rem 0 1rem 0;
}

.value_text {
  font-size: 1.4rem;
}

/* ==================================================
>>>>> (04) - FEATURES BAR
================================================== */

.features_bar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}

.feature_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  color: white;
  height: 30rem;
}

@media (min-width: 768px) {
  .feature_card {
    flex: 0 0 33.33%;
    width: calc(100vw / 3);
    align-items: center;
  }
}

.f-card1 {
  background: url(../img/S2_img1.jpg) no-repeat center center;
}

.f-card2 {
  background: url(../img/S2_img2.jpg) no-repeat center center;
}

.f-card3 {
  background: url(../img/S2_img3.jpg) no-repeat center center;
}

.f-card1,
.f-card2,
.f-card3 {
  background-size: cover;
}

.feature_card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    140deg,
    rgba(252, 163, 17, 0.8),
    rgba(211, 55, 250, 0.8)
  );
  width: 100%;
  height: 100%;
  padding: 5rem 4rem;
}

.feature_title {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.feature_text {
  margin: 2rem 0;
}

.feature_btn {
  background-color: transparent;
  border: 2px solid white;
  margin: 0;
  flex: 0 1 auto;
}

.feature_btn.btn:hover {
  background: transparent;
}

@media (min-width: 768px) {
  .feature_card-content {
    justify-content: center;
    width: 100%;
    height: 30%;
    padding: 0;
    transition: height ease-in-out 0.5s;
    position: relative;
  }

  .feature_card-content:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    transition: opacity ease-in-out 0.5s;
  }

  .feature_card-content:hover:after {
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  }

  .feature_title {
    color: var(--col_Second);
    transition: all ease-in-out 0.5s;
    position: relative;
    z-index: 2;
  }

  .feature_text {
    width: clamp(22rem, 30vw, 40rem);
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  }

  .feature_btn {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
  }

  .feature_text,
  .feature_btn {
    filter: opacity(0);
    transition: all ease-in-out 0.3s;
    position: absolute;
  }

  .feature_card-content:hover {
    height: 100%;
    background: linear-gradient(
      140deg,
      rgba(252, 163, 17, 0.8),
      rgba(211, 55, 250, 0.8)
    );
    transition: height ease-in-out 0.5s;
  }

  .feature_card-content:hover .feature_title {
    color: white;
    transition: all ease-in-out 0.5s;
    transform: translateY(-220%);
  }

  .feature_card-content:hover .feature_btn {
    transform: translateY(170%);
    transition-delay: 0.5s;
    pointer-events: visible;
  }

  .feature_card-content:hover .feature_text,
  .feature_card-content:hover .feature_btn {
    filter: opacity(1);
    transition: filter ease-in-out 0.5s;
    transition-delay: 0.5s;
  }
}

/* ==================================================
>>>>> (05) - SERVICES
================================================== */

.services {
  padding: 4rem 0;
}

.services_grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.services_content {
  grid-column: auto;
}

.services_icon {
  display: none;
}

.services_card-title {
  display: flex;
  flex-direction: column;
}

.services_card {
  padding: 2rem 0;
  text-align: center;
}

.services_card-title i {
  font-size: 5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .services_grid-container {
    background: none;
  }

  .services_content {
    grid-column: auto / span 2;
    padding-right: 10rem;
  }

  .services_card {
    padding: 0;
    text-align: left;
  }

  .services_card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .services_card-title i {
    margin-right: 1.5rem;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .services_icon {
    display: block;
    grid-row: auto / span 2;
  }
}

/* ==================================================
>>>>> (06) - SITE CTA
================================================== */

.site_cta {
  background: var(--col_Second);
  color: white;
  padding: 4rem 2rem;
}

.cta_d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.cta_title {
  font-size: clamp(2.5rem, 3vw, 5rem);
  margin-bottom: 2rem;
  line-height: 1;
}

.cta_text {
  margin: 0;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

.cta_content,
.cta_form {
  flex: 1 1 auto;
}

.cta_form {
  position: relative;
  margin-top: 4rem;
}

.cta_form .form_data {
  margin: 0;
}

@media (min-width: 768px) {
  .cta_content,
  .cta_form {
    flex: 0 0 calc(50% - 20px);
  }

  .cta_form {
    margin: 0;
  }
}

.cta_form input[type="submit"] {
  display: block;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  background-image: url(../img/icon-send-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* ==================================================
>>>>> (07) - PORTFOLIO SECTION
================================================== */

.site_portfolio {
  padding: 4rem 0;
}
.portfolio_content {
  margin-bottom: 5rem;
}

.portfolio_photo-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: 145%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 5rem;
  position: relative;
  overflow: hidden;
  transition: ease-in-out 500ms;
}

.portfolio_item:hover {
  background-color: #704711;
  background-size: 150%;
}

.p_item-content {
  color: white;
  opacity: 0;
  transition: ease-in-out 500ms;
}

.p_item-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 10rem;
  height: 3rem;
  border-bottom-left-radius: 20px;
  transform: translateX(100%);
  transition: ease-in-out 500ms;
}

.p_item-nav i {
  font-size: 1.4rem;
  cursor: pointer;
  width: 2rem;
  color: var(--col_Second);
}

.portfolio_item:hover .p_item-content {
  opacity: 1;
}

.portfolio_item:hover .p_item-nav {
  transform: translateX(0);
}

.vertical,
.vertical-big {
  background-position: top center;
}

@media (min-width: 578px) and (max-width: 1200px) {
  .p-item2 {
    grid-row: 5;
    grid-column: span 2;
    padding: 10rem 2rem;
    background-position: center left;
  }
}

@media (min-width: 1200px) {
  .portfolio_photo-grid {
    grid-template-columns: 1fr 50px 1fr 50px 1fr;
  }

  .portfolio_item {
    padding: 0;
  }

  .square {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    padding: 4rem 2rem;
  }
  .square.p-item8 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
  }

  .horizontal {
    grid-column: auto / span 2;
    grid-row: auto / span 1;
    padding: 4rem 2rem;
  }
  .horizontal-big {
    grid-column: auto / span 3;
    grid-row: auto / span 1;
    padding: 4rem 2rem;
  }
  .vertical {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
    padding: 10rem 2rem;
  }
  .vertical-big {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    padding: 12rem 2rem;
  }
}

.p-item1 {
  background-image: url(../img/S3.1_1x1_contiq-logo.jpg);
}

.p-item2 {
  background-image: url(../img/S3.2_H_landing-page-fashion-min.jpg);
}

.p-item3 {
  background-image: url(../img/S3.3_1x1_mr-vendetta-min.jpg);
}

.p-item4 {
  background-image: url(../img/S3.4_H_landing-page-music.jpg);
}

.p-item5 {
  background-image: url(../img/S3.5_V_makeup-campaign-min.jpg);
}

.p-item6 {
  background-image: url(../img/S3.6_H_landing-page-sport-min.jpg);
}

.p-item7 {
  background-image: url(../img/S3.7_V_fashion-campaign-min.jpg);
}

.p-item8 {
  background-image: url(../img/S3.8_H_holla_mag_rebrand.gif);
}

.p-item9 {
  background-image: url(../img/S3.9_V_sport-shoes-campaign-min.jpg);
}

/* ==================================================
>>>>> (08) - TEAM MEMBERS
================================================== */

.team_members {
  background: var(--col_Second);
  width: 100%;
  height: 100%;
  color: white;
}

.team_d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_members-content {
  margin-right: unset;
  width: 100%;
}

@media (min-width: 1100px) {
  .team_d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .team_members-content {
    margin-right: auto;
    width: calc(100% - 40rem);
  }
}

/* ==================================================
>>>>> (08-A) - TEAM MEMBERS CARDS (FORM)
================================================== */

.team_members-cards {
  display: flex;
  height: 40rem;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.staff-card {
  position: absolute;
  top: 15%;
  right: -150px;
}

@media (min-width: 480px) and (max-width: 1100px) {
  .staff-card {
    top: 15%;
    right: -200px;
  }
}

@media (min-width: 1100px) {
  .staff-card {
    top: 15%;
    right: 5%;
  }
}

.position-wrapper1,
.position-wrapper2,
.position-wrapper3,
.position-wrapper4,
.position-wrapper5,
.position-wrapper6 {
  position: relative;
}

label[for="staff-opt1"] {
  position: absolute;
  top: -12%;
  right: 23%;
  z-index: 10;
}

label[for="staff-opt2"] {
  position: absolute;
  top: -1%;
  right: 10%;
  z-index: 10;
}

label[for="staff-opt3"] {
  position: absolute;
  top: 14.5%;
  right: 0.5%;
  z-index: 10;
}

label[for="staff-opt4"] {
  position: absolute;
  top: 33%;
  right: -4.5%;
  z-index: 10;
}

label[for="staff-opt5"] {
  position: absolute;
  top: 52%;
  right: -4.5%;
  z-index: 10;
}

label[for="staff-opt6"] {
  position: absolute;
  top: 70%;
  right: 0;
  z-index: 10;
}

label img {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 0 0 4px var(--col_Main-Opacity);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: solid 8px var(--col_Main);
  overflow: hidden;
  position: relative;
}

.person figcaption {
  position: absolute;
  background-color: rgba(252, 163, 17, 0.8);
  padding: 2rem 8rem;
  bottom: 0;
  line-height: 1;
}

.person .staff-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.person .staff-title {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

.person .staff-text {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.lauryn,
.alicia,
.dave,
.lucy,
.till,
.tori {
  visibility: hidden;
}

#staff-opt1:checked ~ label img,
#staff-opt2:checked ~ label img,
#staff-opt3:checked ~ label img,
#staff-opt4:checked ~ label img,
#staff-opt5:checked ~ label img,
#staff-opt6:checked ~ label img {
  box-shadow: 0 0 0 4px var(--col_Main);
}

#staff-opt1:checked ~ .lauryn {
  display: flex;
  visibility: visible;
}

#staff-opt2:checked ~ .alicia {
  display: flex;
  visibility: visible;
}

#staff-opt3:checked ~ .dave {
  display: flex;
  visibility: visible;
}

#staff-opt4:checked ~ .lucy {
  display: flex;
  visibility: visible;
}

#staff-opt5:checked ~ .till {
  display: flex;
  visibility: visible;
}

#staff-opt6:checked ~ .tori {
  display: flex;
  visibility: visible;
}

/* ==================================================
>>>>> (09) - PRICING TABLE
================================================== */

.pricing_table {
  margin-bottom: 6rem;
}

.pricing_table-content {
  padding: 4rem 0 2rem 0;
  margin-bottom: 4rem;
  background-color: var(--col_Third);
  box-shadow: 20vw 0 0 var(--col_Third), -20vw 0 0 var(--col_Third);
}

.pricing_table-grid {
  display: grid;
  gap: 4rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
}

.pricing_plan {
  display: flex;
  flex-direction: column;
}

.pricing_plan span[class="fw700"] {
  font-size: 6.5rem;
  color: #dfdfdf;
  line-height: 0.8;
}

.pricing_plan-name {
  font-size: 1.6rem;
  letter-spacing: 10px;
  color: var(--col_Second);
  margin-bottom: 3rem;
}

.pricing_plan-price {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.pricing_plan-price sub {
  font-size: 1.4rem;
}

.pricing_plan p:not([class]) {
  font-size: 1.2rem;
  line-height: 4;
  margin-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
}

.pricing_plan p:last-of-type:not([class]) {
  border-bottom: none;
}

/* ==================================================
>>>>> (10) - SITE TESTIMONIALS
================================================== */

.site_testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  background-color: var(--col_Second);
  width: 100%;
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
}

.site_testimonials:after,
.site_testimonials:before {
  content: "";
  display: block;
  width: 75vw;
  height: 50px;
  border-width: 1px;
  border-color: white;
  transform: skewX(-50deg);
  position: absolute;
}

.site_testimonials:after {
  border-style: none solid solid none;
  bottom: 20%;
  left: 0;
}

.site_testimonials:before {
  border-style: solid none none solid;
  top: 20%;
  right: 0;
}

.client_testimonial {
  max-width: 50rem;
  font-size: 1.2rem;
  line-height: 2;
  margin: 0 auto 3rem auto;
}

.client_name {
  position: relative;
  margin-bottom: 0;
}

.client_name:before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--col_Main);
  position: absolute;
  top: -15%;
  left: calc(50% - 25px);
}

.client_company {
  font-size: 1rem;
  font-weight: 300;
}

/* ==================================================
>>>>> (11) - SITE CONTACT SECTION
================================================== */

/* ==================================================
>>>>> (11-A) - LAYOUT AND POSITIONING
================================================== */

.site_contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--col_Third);
}

.site_contact-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .site_contact-container {
    flex-direction: row;
    flex: 1 1 35%;
    padding: 4rem 2rem;
  }
}

.contact_info {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.info_item {
  display: none;
}

.contact_info span i {
  font-size: 3rem;
  margin: 0 auto 2rem auto;
}

.contact_info p {
  margin: 0;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .contact_info {
    flex-direction: column;
    padding: 0 0 0 2rem;
  }

  .info_item {
    display: block;
    width: 100%;
  }

  .info_item:last-of-type {
    margin: 0;
  }
}

.contact_map {
  flex: 1 1 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
  /* W3School reference - Responsive Iframe */
  padding-top: 75%;
}

@media (min-width: 900px) {
  .contact_map {
    flex: 1 1 65%;
    padding-top: 0;
  }
}

.contact_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ==================================================
>>>>> (11-B) - FORM STYLING
================================================== */

.contact_form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.form_title {
  font-size: clamp(2.5rem, 3vw, 5rem);
  margin-bottom: 0.5rem;
  line-height: 1;
}

.form_copy {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

/* ==================================================
>>>>> (12) - SITE FOOTER
================================================== */

.site_footer {
  display: flex;
  flex-direction: column;
  background: #777777;
  color: white;
  padding: 4rem 0 0 0;
}

/* ==================================================
>>>>> (12-A) - FOOTER MAIN CONTENT
================================================== */

.footer_main {
  display: flex;
  flex-wrap: wrap;
}

.footer_content,
.footer_twitter-feed,
.footer_instagram-feed {
  flex: 0 0 100%;
  margin-bottom: 4rem;
}

@media (min-width: 900px) {
  .footer_main {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_content,
  .footer_twitter-feed,
  .footer_instagram-feed {
    flex: 0 0 calc(33.33% - 2rem);
    margin-bottom: 0;
  }
}

.footer_text,
.twt_feed,
.insta_feed {
  padding-top: 2rem;
}

.insta_feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0;
}

@media (min-width: 768px) {
  .insta_feed {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}

.insta_feed figure {
  margin: 0;
  max-width: 150px;
}

.insta_feed figcaption {
  display: none;
}

/* ==================================================
>>>>> (12-B) - FOOTER BOTTOM BAR
================================================== */

.footer_bottom-bar {
  background: var(--col_Second);
  margin-top: 4rem;
  padding: 1rem 0;
}

.footer_d-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer_legal {
  font-size: 1.2rem;
  margin: 0;
}

.footer_social {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer_social a {
  color: white;
}
