:root {
  --col_Main: #fca311;
  --col_Main-Light: #f5b145;
  --col_Main-Opacity: rgba(252, 163, 17, 0.5);
  --col_Second: #333533;
  --col_Second-Opacity: rgba(51, 53, 51, 0.5);
  --col_Third: #9a8c98;
}

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: var(--col_Second);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* GLOBAL STYLES */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

p,
a {
  font-size: 1.4rem;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  width: 100%;
}

/* UTILITIES */

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

.btn {
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  background-color: var(--col_Main);
  flex: 0 0 100%;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.col-main {
  color: var(--col_Main);
}

.u-case {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/* SITE NAV */ /* SITE NAV */ /* SITE NAV */
.site_nav {
  width: 100%;
  height: 5rem;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.site_nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: relative;
}

.site_logo {
  display: inline-block;
  width: 8rem;
}

.mobile_menu-icon {
  font-size: 2rem;
  color: var(--col_Second);
  cursor: pointer;
  height: 5rem;
  line-height: 5rem;
  text-align: right;
}

.nav_bar {
  display: block;
  visibility: hidden;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5rem;
  background-color: brown;
}

.menu_list,
.subMenu_list {
  padding-left: 0;
  list-style: none;
}

.menu_list li,
.subMenu_list li {
  color: var(--col_Second);
  width: 100%;
}

.menu_list li a,
.subMenu_list li a {
  display: block;
  color: var(--col_Second);
  width: 100%;
  padding: 1rem 0;
}

/* SITE HEADER */ /* SITE HEADER */ /* SITE HEADER */
.site_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95vh;
  background: linear-gradient(
      to right,
      rgba(47, 0, 255, 0.7),
      rgba(51, 255, 0, 0.4),
      rgba(225, 0, 255, 0.3)
    ),
    url(../img/header.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.header_content {
  position: relative;
}

.header_content:after {
  content: "welcome";
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 14%;
  left: 1%;
}

@media (min-width: 768px) {
  .header_content:after {
    content: "welcome";
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 15%;
    left: 0;
    writing-mode: sideways-lr;
  }
}

.header_content-wrapper {
  --stroke: 1.5rem;
  display: block;
  max-width: 50rem;
  color: white;
  box-shadow: 0 -15px 0 var(--col_Main-Opacity),
    0 15px 0 var(--col_Main-Opacity), inset -15px 0 0 var(--col_Main-Opacity);
  padding: 6rem 4rem 4rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .header_content-wrapper {
    padding: 4rem 4rem 4rem 0;
  }
}

.header_content-wrapper:before,
.header_content-wrapper:after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 100vh;
  background-color: var(--col_Main-Opacity);
  position: absolute;
  left: 0;
}

.header_content-wrapper:before {
  bottom: calc(100% + 15px);
}

.header_content-wrapper:after {
  top: calc(100% + 15px);
}

.header_title {
  line-height: 1;
  margin: 0;
  font-size: clamp(4rem, 3.5vw, 6rem);
}

@media (min-width: 768px) {
  .header_title {
    margin: 0 0 0 2.5rem;
  }
}

.header_title span {
  color: var(--col_Main);
  font-size: clamp(7rem, 6vw, 10rem);
}
.header_slogan {
  font-size: 1.4rem;
  line-height: 2;
  margin: 0;
  max-width: 45rem;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

/* SITE MAIN SECTION */ /* SITE MAIN SECTION */ /* SITE MAIN SECTION */

.site_main {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/S1_background-min.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 4rem 0 0 0;
}

@media (min-width: 768px) {
  .site_main:after {
    content: "";
    display: block;
    width: 25vw;
    height: clamp(20vw, 55%, 30vw);
    background: url(../img/S1_secondary-img.jpg) no-repeat top right;
    background-size: cover;
    filter: opacity(80%);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.corporate_statement {
  display: flex;
  justify-content: space-between;
}

.corporate_statement-image {
  display: none;
}

@media (min-width: 768px) {
  .corporate_statement-image {
    display: flex;
    flex: 0 0 25%;
    height: 100%;
    width: 100%;
    border: 5px solid white;
    margin-left: 4rem;
    position: relative;
    z-index: 1;
  }
}

.corporate_values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(231, 227, 227, 0.6);
  box-shadow: 5rem 0 0 rgba(231, 227, 227, 0.6),
    -5rem 0 0 rgba(231, 227, 227, 0.6);
  padding: 4rem 1rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .corporate_values {
    justify-content: space-between;
    background-color: unset;
    box-shadow: unset;
    padding: 4rem 1rem;
    flex-wrap: nowrap;
  }
}

.value_card {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.value_icon {
  font-size: 3rem;
  margin: 2rem 0 1rem 0;
}

.value_text {
  font-size: 1.4rem;
}

/* FEATURES BAR */ /* FEATURES BAR */ /* FEATURES BAR */
.features_bar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}

.feature_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  color: white;
  height: 30rem;
}

@media (min-width: 768px) {
  .feature_card {
    flex: 0 0 33.33%;
    width: calc(100vw / 3);
    align-items: center;
  }
}

.f-card1 {
  background: url(../img/S2_img1.jpg) no-repeat center center;
}

.f-card2 {
  background: url(../img/S2_img2.jpg) no-repeat center center;
}

.f-card3 {
  background: url(../img/S2_img3.jpg) no-repeat center center;
}

.f-card1,
.f-card2,
.f-card3 {
  background-size: cover;
}

.feature_card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    140deg,
    rgba(252, 163, 17, 0.8),
    rgba(211, 55, 250, 0.8)
  );
  width: 100%;
  height: 100%;
  padding: 5rem 4rem;
}

.feature_title {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.feature_text {
  margin: 2rem 0;
}

.feature_btn {
  background-color: transparent;
  border: 2px solid white;
  margin: 0;
  flex: 0 1 auto;
}

@media (min-width: 768px) {
  .feature_card-content {
    justify-content: center;
    width: 100%;
    height: 30%;
    padding: 0;
    transition: height ease-in-out 0.5s;
    position: relative;
  }

  .feature_card-content:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    transition: opacity ease-in-out 0.5s;
  }

  .feature_card-content:hover:after {
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  }

  .feature_title {
    color: var(--col_Second);
    transition: all ease-in-out 0.5s;
    position: relative;
    z-index: 2;
  }

  .feature_text {
    width: clamp(22rem, 30vw, 40rem);
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  }

  .feature_btn {
    pointer-events: none;
    font-size: 1.2rem;
  }

  .feature_text,
  .feature_btn {
    filter: opacity(0);
    transition: all ease-in-out 0.3s;
    position: absolute;
  }

  .feature_card-content:hover {
    height: 100%;
    background: linear-gradient(
      140deg,
      rgba(252, 163, 17, 0.8),
      rgba(211, 55, 250, 0.8)
    );
    transition: height ease-in-out 0.5s;
  }

  .feature_card-content:hover .feature_title {
    color: white;
    transition: all ease-in-out 0.5s;
    transform: translateY(-220%);
  }

  .feature_card-content:hover .feature_btn {
    transform: translateY(170%);
    transition-delay: 0.5s;
    pointer-events: visible;
  }

  .feature_card-content:hover .feature_text,
  .feature_card-content:hover .feature_btn {
    filter: opacity(1);
    transition: filter ease-in-out 0.5s;
    transition-delay: 0.5s;
  }
}

/* SERVICES */ /* SERVICES */ /* SERVICES */
.services {
  padding: 4rem 0;
}

.services_grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.services_content {
  grid-column: auto;
}

.services_icon {
  display: none;
}

.services_card-title {
  display: flex;
  flex-direction: column;
}

.services_card {
  padding: 2rem 0;
  text-align: center;
}

.services_card-title i {
  font-size: 5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .services_grid-container {
    background: none;
  }

  .services_content {
    grid-column: auto / span 2;
    padding-right: 10rem;
  }

  .services_card {
    padding: 0;
    text-align: left;
  }

  .services_card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .services_card-title i {
    margin-right: 1.5rem;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .services_icon {
    display: block;
    grid-row: auto / span 2;
  }
}

/*  SITE CTA */ /*  SITE CTA */ /*  SITE CTA */
.site_cta {
  background: var(--col_Second);
  color: white;
  height: calc(20rem + 5vh);
}

.cta_d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.cta_content,
.cta_form {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .cta_content,
  .cta_form {
    flex: 0 0 calc(50% - 20px);
  }
}

.cta_title {
  font-size: clamp(2.5rem, 3vw, 5rem);
  margin-bottom: 0.5rem;
}

.cta_text {
  margin-bottom: 0;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

.cta_form {
  position: relative;
}

.cta_form label {
  position: absolute;
  font-size: 1.8rem;
  color: var(--col_Second-Opacity);
  top: 25%;
  left: 1rem;
  transition: all ease-in-out 0.3s;
  cursor: text;
}

.cta_form input {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: 0;
  position: relative;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.cta_form input::placeholder {
  color: transparent;
}

.cta_form input:focus ~ label,
.cta_form input:not(:placeholder-shown) ~ label {
  transform: translateY(-150%) translateX(-6%);
  color: white;
  transition: all ease-in-out 0.3s;
}

.cta_form input[type="submit"] {
  display: block;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  background-image: url(../img/icon-send-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* PORTFOLIO SECTION */ /* PORTFOLIO SECTION */ /* PORTFOLIO SECTION */

.portfolio_photo-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
}

.portfolio_card {
  position: relative;
}

.p-card1 .p_card-img {
  width: 300px;
  height: 300px;
  background: url("../img/S3.1_1x1_contiq-logo.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
